<ion-view title="Photos" id="page7" style="background-color:#277537;">
    <ion-content padding="true" style="background: url(img/YNjRJGZqR4KvXqg4JeuF_518169-backgrounds.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="list card" id="photos-card23">
            <ion-item class="item-avatar" id="photos-list-item11">
                <img src="img/3EviuJXR3Ga642Fipreg_snap.jpg">
                <h2>Upload Photo</h2>
            </ion-item>
        </div>
        <button id="photos-button13" class="button button-dark  button-block">Logout</button>
    </ion-content>
</ion-view>