<ion-view title="Signup" id="page11" style="background-color:#277537;">
    <ion-content padding="true" style="background: url(img/adp1KdPhScGzUJIyvlou_518169-backgrounds.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="signup-form6" class="list">
            <ion-list id="signup-list5">
                <label class="item item-input" id="signup-input12">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input13">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-textarea2">
                    <span class="input-label">Email ID</span><textarea placeholder=""></textarea>
                </label>
                <label class="item item-input" id="signup-input14">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input" id="signup-textarea1">
                    <span class="input-label">Confirm Password</span><textarea placeholder=""></textarea>
                </label>
            </ion-list>
            <button id="signup-button20" class="button button-dark  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>