<ion-view title="Take Picture" id="page6" style="background-color:#277537;">
    <ion-content padding="true" style="background: url(img/fHbAT322QgGBEpOl44Tj_518169-backgrounds.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="list card" id="takePicture-card22">
            <ion-item class="item-avatar" id="takePicture-list-item7">
                <h2>Take Photo</h2>
            </ion-item>
            <div class="item item-body" id="takePicture-list-item-container4"></div>
        </div>
        <button id="takePicture-button6" class="button button-dark  button-block">Logout</button>
    </ion-content>
</ion-view>